In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
DF_TRAIN = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/PI/dados twitbot sem dev/train_twitbot_model.csv")
DF_TEST = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/PI/dados twitbot sem dev/test_twitbot_model.csv")

# ManipulaÃ§Ã£o dataset Twibot-20
Readme
```
['This dataset, named Twibot-20, is a comprehensive sample of the Twittersphere.
 'This dataset focuses on bot detection on Twitter.',
 
 'The datasets are released under MIT(https://github.com/GabrielHam/TwiBot-20/blob/main/LICENSE)',


 'The train, validation, test and support set are provided in .json format.\n',

 'The user in support set provides the neighborhood information.\n',

 'Each user sample contains:,

 "- 'ID': the ID from Twitter identifying the user.\n",
 "- 'profile': the profile information obtained from Twitter API.\n",
 "- 'tweet': the recent 200 tweets of this user.\n",
 "- 'neighbor': the random 20 followers and followings of this user.\n",
 "- 'domain': the domain of this user and the domains include politics, business, entertainment and sports.\n",
 "- 'label': the label of this user and '1' means it is a bot while '0' means it is a human."]


```

In [ ]:
with open("/content/drive/MyDrive/Colab Notebooks/PI/Twibot-20/README.txt","r") as readme:
  readme = readme.readlines()

In [ ]:
readme

['This dataset, named Twibot-20, is a comprehensive sample of the Twittersphere.\n',
 '\n',
 'This dataset focuses on bot detection on Twitter.\n',
 '\n',
 'The datasets are released under MIT(https://github.com/GabrielHam/TwiBot-20/blob/main/LICENSE)\n',
 '\n',
 'The train, validation, test and support set are provided in .json format.\n',
 '\n',
 'The user in support set provides the neighborhood information.\n',
 '\n',
 'Each user sample contains:\n',
 "- 'ID': the ID from Twitter identifying the user.\n",
 "- 'profile': the profile information obtained from Twitter API.\n",
 "- 'tweet': the recent 200 tweets of this user.\n",
 "- 'neighbor': the random 20 followers and followings of this user.\n",
 "- 'domain': the domain of this user and the domains include politics, business, entertainment and sports.\n",
 "- 'label': the label of this user and '1' means it is a bot while '0' means it is a human."]

label 0 = humano
label 1 = bot

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
df_train = DF_TRAIN.copy()
df_test=DF_TEST.copy()

In [ ]:
df_train.head()

,Unnamed: 0,tweet,domain,label,statuses_count,tweet_freq,name_length,screen_name_length,description_length,friends_count,...,location,geo_enable,verified,default_profile_image,url mencionada,url repetida,@ mencionado,@ repetido,# mencionadas,# repetida
0,0,['RT @CarnivalCruise: ðŸŽ‰ Are you ready to see w...,"['Politics', 'Business', 'Entertainment']",0,9798,60.110429,5,5,51,692,...,0,1,1,1,207,6,371,193,152,139
1,1,NaN,['Politics'],1,0,0.000000,17,16,1,44,...,1,1,1,1,0,0,0,0,0,0
2,2,['RT @realDonaldTrump: THANK YOU #RNC2020! htt...,"['Politics', 'Entertainment', 'Sports']",0,5518,33.852761,14,9,161,475,...,0,1,1,1,97,10,204,145,37,33
3,3,['A family fears they may have been cheated ou...,['Politics'],0,192876,1161.903614,17,10,161,4801,...,0,1,1,1,173,2,100,66,61,55
4,4,['RT @VonteThePlug: Yeah but he ainâ€™t got one ...,['Politics'],1,103,0.971698,18,15,104,647,...,0,1,1,1,59,16,55,34,6,2

## TFIDF

The intuition behind this measure is : If a word appears frequently in a document, then it should be important and we should give that word a high score. But if a word appears in too many other documents, itâ€™s probably not a unique identifier, therefore we should assign a lower score to that word.

TF(w) = (Number of times term w appears in a document) / (Total number of terms in the document)


IDF(w) = log_e(Total number of documents / Number of documents with term w in it)

**TFIDF(w) = TF(w) * IDF(w)**

https://www.geeksforgeeks.org/understanding-tf-idf-term-frequency-inverse-document-frequency/

https://countwordsfree.com/stopwords

In [ ]:
train_twt = []
for twt in df_train.tweet:
  if str(twt) == "nan":
    train_twt.append("NULO")
  else:
    train_twt.append(twt)

In [ ]:
len(train_twt), len(df_train)

(8278, 8278)

In [ ]:
vectorizer = TfidfVectorizer(strip_accents = "ascii", max_features=200, stop_words='english')
tfidf= vectorizer.fit(train_twt)

In [ ]:
train_twt = tfidf.transform(train_twt)
#numpy
dense = train_twt.todense()
#pandas
TFIDF_TRAIN = pd.DataFrame(dense,columns = vectorizer.get_feature_names_out())

tfidf_train = TFIDF_TRAIN.copy()
tfidf_train.head(2)

,000,10,100,12,19,20,2020,30,ago,al,...,women,work,working,world,xa0,year,years,yes,youre,youtube
0,0.048693,0.025159,0.007869,0.01653,0.015033,0.02241,0.0,0.007798,0.007812,0.0,...,0.008741,0.011979,0.022604,0.012425,0.039016,0.046412,0.036242,0.007222,0.016713,0.00991
1,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000

In [ ]:
tfidf_train.describe().sort_values(by="mean",axis=1,ascending=False)

,https,rt,just,http,amp,nhttps,like,trump,people,new,...,available,12,del,latest,lo,al,las,una,mas,xa0
count,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,...,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000,8278.000000
mean,0.476980,0.372688,0.059096,0.058784,0.057866,0.056421,0.051272,0.048394,0.045747,0.043623,...,0.009398,0.009219,0.009207,0.008881,0.008331,0.007664,0.007327,0.007266,0.006776,0.006217
std,0.284846,0.302597,0.066813,0.196569,0.091735,0.115679,0.063051,0.115010,0.061650,0.055550,...,0.031134,0.024390,0.041400,0.030569,0.036627,0.028061,0.030950,0.034262,0.029790,0.039224
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.243569,0.079775,0.008118,0.000000,0.000000,0.000000,0.005953,0.000000,0.000000,0.005453,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.476319,0.325656,0.040678,0.000000,0.027074,0.017612,0.032098,0.000000,0.024832,0.029103,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.711527,0.652185,0.084730,0.000000,0.068530,0.055306,0.070702,0.023590,0.065678,0.060617,...,0.007580,0.011307,0.000000,0.008677,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,0.962439,1.000000,0.834662,0.999088,0.962419,1.000000,0.663470,0.739956,...,0.792527,0.570383,0.860793,0.903461,0.839581,0.637961,0.771158,0.731510,0.645382,0.999539

In [ ]:
tfidf_train.head(2)

,000,10,100,12,19,20,2020,30,ago,al,...,women,work,working,world,xa0,year,years,yes,youre,youtube
0,0.048693,0.025159,0.007869,0.01653,0.015033,0.02241,0.0,0.007798,0.007812,0.0,...,0.008741,0.011979,0.022604,0.012425,0.039016,0.046412,0.036242,0.007222,0.016713,0.00991
1,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000

In [ ]:
#TESTE
test_twt = []
for twt in df_test.tweet:
  if str(twt) == "nan":
    test_twt.append("NULO")
  else:
    test_twt.append(twt)

test_twt = tfidf.transform(test_twt)

#numpy
dense = test_twt.todense()
#pandas
TFIDF_TEST = pd.DataFrame(dense,columns = tfidf.get_feature_names_out())
tfidf_test = TFIDF_TEST.copy()

In [ ]:
tfidf_test.head(2)

,000,10,100,12,19,20,2020,30,ago,al,...,women,work,working,world,xa0,year,years,yes,youre,youtube
0,0.018839,0.007300,0.0,0.0,0.017448,0.000000,0.007987,0.0,0.009068,0.000000,...,0.0,0.006952,0.017491,0.014422,0.000000,0.033668,0.021032,0.008383,0.019398,0.0
1,0.000000,0.006217,0.0,0.0,0.000000,0.007383,0.013603,0.0,0.000000,0.011204,...,0.0,0.029601,0.014895,0.036843,0.012855,0.011468,0.000000,0.000000,0.000000,0.0

In [ ]:
tfidf_train.head(2)

,000,10,100,12,19,20,2020,30,ago,al,...,women,work,working,world,xa0,year,years,yes,youre,youtube
0,0.048693,0.025159,0.007869,0.01653,0.015033,0.02241,0.0,0.007798,0.007812,0.0,...,0.008741,0.011979,0.022604,0.012425,0.039016,0.046412,0.036242,0.007222,0.016713,0.00991
1,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000

In [ ]:
tfidf_train.isna().sum().sum()

0

##Variance Feature Select
A ideia Ã© retirar as colunas com uma variancia muito baixa.

In [ ]:
tfidf_train = TFIDF_TRAIN.copy()
tfidf_test =  TFIDF_TEST.copy()

In [ ]:
tfidf_train.shape , tfidf_test.shape

((8278, 200), (1183, 200))

In [ ]:
tfidf_train.var().describe()

count    200.000000
mean       0.002731
std        0.009105
min        0.000381
25%        0.000730
50%        0.001098
75%        0.001714
max        0.091565
dtype: float64

In [ ]:
from sklearn.feature_selection import VarianceThreshold
var_select = VarianceThreshold(.001602) # removendo Feautures com variancia menor que o 3Âº quartil

In [ ]:
var_select.fit(tfidf_train)
mask=var_select.get_support()

In [ ]:
train= tfidf_train.loc[:,mask].copy()
train.head(2)

,amp,biden,covid19,day,del,don,dont,el,en,es,...,think,time,today,tonight,trump,u200d,ve,video,win,youtube
0,0.178333,0.0,0.0,0.0474,0.0,0.0,0.03233,0.0,0.0,0.0,...,0.011872,0.06595,0.059228,0.091139,0.0,0.008873,0.0,0.019926,0.054507,0.00991
1,0.000000,0.0,0.0,0.0000,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00000

In [ ]:
train.shape

(8278, 54)

In [ ]:
train.isna().sum().sum()

0

In [ ]:
test= tfidf_test.loc[:,mask].copy()

In [ ]:
test.shape

(1183, 54)

In [ ]:
test.head(2)

,amp,biden,covid19,day,del,don,dont,el,en,es,...,think,time,today,tonight,trump,u200d,ve,video,win,youtube
0,0.062723,0.112261,0.0,0.018339,0.000000,0.0,0.060039,0.00000,0.000000,0.0,...,0.048226,0.011776,0.018748,0.0,0.201461,0.000000,0.008105,0.007709,0.018076,0.0
1,0.010683,0.000000,0.0,0.031234,0.013729,0.0,0.000000,0.04927,0.058884,0.0,...,0.005867,0.040114,0.042575,0.0,0.000000,0.236789,0.000000,0.000000,0.015393,0.0

In [ ]:
test.isna().sum().sum()

0

In [ ]:
test.columns

Index(['amp', 'biden', 'covid19', 'day', 'del', 'don', 'dont', 'el', 'en',
       'es', 'follow', 'game', 'god', 'good', 'great', 'gt', 'happy', 'http',
       'https', 'im', 'just', 'know', 'la', 'like', 'lol', 'los', 'love',
       'music', 'na', 'new', 'news', 'nhttps', 'para', 'people', 'por',
       'president', 'que', 'realdonaldtrump', 'rt', 'se', 'season', 'team',
       'thank', 'thanks', 'think', 'time', 'today', 'tonight', 'trump',
       'u200d', 've', 'video', 'win', 'youtube'],
      dtype='object')

Dropando colunas sem sentido

In [ ]:
train.drop(['amp','http','https', 'nhttps','u200d', 'el', 'en', 'es', 'la', 'los',"na","se","por","para","que","ve"] ,axis = 1, inplace = True)
test.drop(['amp','http','https', 'nhttps','u200d', 'el', 'en', 'es', 'la', 'los',"na","se","por","para","que","ve" ] ,axis = 1, inplace = True)

In [ ]:
for i in train:
  if i not in test:
    print(i)

In [ ]:
test.columns

Index(['biden', 'covid19', 'day', 'del', 'don', 'dont', 'follow', 'game',
       'god', 'good', 'great', 'gt', 'happy', 'im', 'just', 'know', 'like',
       'lol', 'love', 'music', 'new', 'news', 'people', 'president',
       'realdonaldtrump', 'rt', 'season', 'team', 'thank', 'thanks', 'think',
       'time', 'today', 'tonight', 'trump', 'video', 'win', 'youtube'],
      dtype='object')

In [ ]:
test.shape, train.shape

((1183, 38), (8278, 38))

Sobraram 47 palavras. Vamos unir todas em um novo dataset

## Juntando os dados

In [ ]:
df_test.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)

df_train.reset_index(drop=True, inplace=True)
train.reset_index(drop=True, inplace=True)

In [ ]:
df_test = pd.merge(df_test,test,left_index=True, right_index=True)
df_test.drop('Unnamed: 0', inplace = True, axis=1)

In [ ]:
df_test.columns

Index(['tweet', 'domain', 'label', 'statuses_count', 'tweet_freq',
       'name_length', 'screen_name_length', 'description_length',
       'friends_count', 'followers_count', 'friends_followers_ratio',
       'followers_growth_rate', 'friends_growth_rate', 'favourites_count',
       'favourites_growth_rate', 'listed_count', 'listed_growth_rate',
       'default_profile', 'use_background_img', 'location', 'geo_enable',
       'verified', 'default_profile_image', 'url mencionada', 'url repetida',
       '@ mencionado', '@ repetido', '# mencionadas', '# repetida', 'biden',
       'covid19', 'day', 'del', 'don', 'dont', 'follow', 'game', 'god', 'good',
       'great', 'gt', 'happy', 'im', 'just', 'know', 'like', 'lol', 'love',
       'music', 'new', 'news', 'people', 'president', 'realdonaldtrump', 'rt',
       'season', 'team', 'thank', 'thanks', 'think', 'time', 'today',
       'tonight', 'trump', 'video', 'win', 'youtube'],
      dtype='object')

In [ ]:
df_train = pd.merge(df_train,train,left_index=True, right_index=True)
df_train.drop('Unnamed: 0', inplace = True, axis=1)

In [ ]:
df_train.isnull().sum()

tweet             55
domain             0
label              0
statuses_count     0
tweet_freq         0
                  ..
tonight            0
trump              0
video              0
win                0
youtube            0
Length: 67, dtype: int64

In [ ]:
df_test.head()

,tweet,domain,label,statuses_count,tweet_freq,name_length,screen_name_length,description_length,friends_count,followers_count,...,thank,thanks,think,time,today,tonight,trump,video,win,youtube
0,['RT @clevelanddotcom: Three Ohio House Republ...,"['Politics', 'Sports']",1,49757,1243.925000,21,15,158,16944,16596,...,0.014863,0.007713,0.048226,0.011776,0.018748,0.000000,0.201461,0.007709,0.018076,0.0
1,"['We touch our hair 96 times a day on average,...","['Politics', 'Business', 'Entertainment', 'Spo...",0,3569,24.784722,18,10,103,50,87313765,...,0.012657,0.013137,0.005867,0.040114,0.042575,0.000000,0.000000,0.000000,0.015393,0.0
2,"[""'He Looked Like He Knew What He Was Doing': ...",['Politics'],0,73786,515.986014,15,15,149,361,161827,...,0.000000,0.000000,0.006194,0.021174,0.005618,0.023774,0.280726,0.020791,0.048750,0.0
3,"['Estamos abiertos a colaboraciones, por lo cu...",['Politics'],1,2,0.076923,12,16,146,543,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4,['The suffragists chose purple and gold to rep...,"['Politics', 'Business', 'Entertainment', 'Spo...",0,11945,112.688679,16,15,155,846,28513011,...,0.059698,0.007745,0.006918,0.017737,0.094127,0.079663,0.212406,0.007741,0.054450,0.0

## Salvando

In [ ]:
# SEM DEV
df_test.to_csv("/content/drive/MyDrive/Colab Notebooks/PI/dados twitbot sem dev/df-test-NLP-nodev-twitbot-20.csv", index = False)
df_train.to_csv("/content/drive/MyDrive/Colab Notebooks/PI/dados twitbot sem dev/df-train-NLP-nodev-twitbot-20.csv",index = False)

In [ ]:
df_test.shape

(1183, 67)